body {
    margin: 0;
}

#logo {
    width: 100px;
    height: 80px;
}

.header {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 0px;
}

.nav-list {
    display: flex;
}

.navbar {
    background-color: #ff6026;
    padding: 0 !important;
}

a {
    color: white !important;
    text-decoration: none !important;
    padding: 1vw;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: #ff6f3b;
}

.welcome {
    padding: 20px;
    margin: 0; 
    font-size: 3em;
    position: absolute;
}

#dog {
    width: 49vw;
    margin-left: .3vw;
}

#dog1 {
    width: 49vw;
}