.header {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(leah.jpg);
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting {
    font-size: 5em;
    position: absolute;
    left: 55%;
    top: 25%;
    width: auto;
}

.nav {
    background-color: teal;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: white !important;
    padding: 5px;
}

a:hover {
    color: white;
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin: 0;
}

.nav-item {
    margin: 5px 20px 5px 0;
    color: white;
    padding: 6px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #00a1a1;
    text-decoration: none;
}

main > h2 {
    text-align: center;
}

p {
    padding-left: 5px;
}

.a-item {
    color: white;
    background-color: teal;
    padding: 7px;
    border-radius: 15px;
    width: 6vw;
    text-decoration: none;
}

.a-item:hover {
    background-color: #00a1a1;
    text-decoration: none;
}