.header {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(leah.jpg);
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting {
    font-size: 5em;
    position: absolute;
    left: 55%;
    top: 25%;
    width: auto;
}

.nav {
    background-color: teal;
    color: white;
}

ul {
    list-style: none;
}

/* li {
    text-decoration: none;
} */

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin: 0;
}

.nav-item {
    margin: 5px 30px 5px 0;
}